.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.open-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
  position: relative;
  width: 700px;
  margin: 0 auto;
}
.open-cards.extra-cards {
  grid-template-columns: repeat(5, 1fr);
  width: 850px;
}

.card {
  width: 150px;
  height: 210px;
  box-shadow: 0 0px 5px #999;
  border-radius: 3px;
  margin-bottom: 15px;
  border:1px solid #fff;
}

.players-turn .open-cards .card {
  cursor: pointer;
}

.players-turn .open-cards .card:hover {
  opacity: .7;
  border:1px solid #999;
}

.players-turn .open-cards .card.card-selected,
.players-turn .open-cards .card.card-selected:hover {
  border:2px solid blue;
  width: 148px;
  height: 208px;
}

.computers-turn .open-cards .card.card-selected,
.computers-turn .open-cards .card.card-selected:hover {
  border:2px solid red;
  width: 148px;
  height: 208px;
}
.shape{width: 118px; height: 50px; margin: 0 16px; margin-bottom: 16px;}
.svg-box{width: 100px;}
.svg-shape {fill: white; stroke-width: 7px;}
.svg-pattern {stroke-width: 1px;}


.card-1-shapes .shape:first-child {margin-top: 76px;}
.card-2-shapes .shape:first-child {margin-top: 40px;}
.card-3-shapes .shape:first-child {margin-top: 12px;}

.card-red .svg-shape {stroke: red;}
.card-purple .svg-shape {stroke: purple;}
.card-green .svg-shape {stroke: green;}
.svg-pattern-red {stroke: red;}
.svg-pattern-purple {stroke: purple;}
.svg-pattern-green {stroke: green;}
.card-red.card-striped .svg-shape {fill: url('#svg-pattern-red');}
.card-purple.card-striped .svg-shape {fill: url('#svg-pattern-purple');}
.card-green.card-striped .svg-shape {fill: url('#svg-pattern-green');}

.card-red.card-solid .svg-shape {fill: red;}
.card-purple.card-solid .svg-shape {fill: purple;}
.card-green.card-solid .svg-shape {fill: green;}

.svg-pattern {stroke-width: 3px;}

.score-panel {width: 700px; margin: 0 auto;}
.score {width: 350px; float: left;}
.picked-set {width: 300px; height: 94px; overflow: hidden;}
.picked-set .card {width: 75px; height: 105px; margin: 10px; display: inline-block; margin-bottom: 0; overflow: hidden;}
.picked-set .card .shape {width: 59px; height: 25px; margin: 0 8px; margin-bottom: 8px;}
.picked-set .card-1-shapes .shape:first-child {margin-top: 38px;}
.picked-set .card-2-shapes .shape:first-child {margin-top: 20px;}
.picked-set .card-3-shapes .shape:first-child {margin-top: 6px;}
